.topBar{
    border-bottom: 1px solid #EDEDED;
    min-height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.topBar button{
    height: 42px;
    min-width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #383A4899;
    color: #FFFFFF;
    font-family: Helvetica;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;    
}
.selectWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}


.customCheckbox{
    display: flex;
    gap: 4px;
    align-items: center;
    flex-shrink: 0;
    -webkit-tap-highlight-color: transparent;
}
.customCheckbox input {
    display: none;
}
.checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid #E0E0E0; 
    display: inline-block;
    border-radius: 4px;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
}
.customCheckbox input:checked + .checkbox {
    background-color: rgb(77, 120, 218);
    border-color: rgb(77, 120, 218);
}
.customCheckbox input:checked + .checkbox::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

.checkTitle{
    color: #383A48;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1%;
}


@media (min-width: 480px) and (max-width: 767px) {  
    .selectWrap{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .selectWrap select{
        flex-grow: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .topBar{
        flex-direction: row;
        justify-content: space-between;
        
    }
    .selectWrap{
        flex-direction: row;
    }
    .customSelect{
        width: 155px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .topBar{
        flex-direction: row;
        justify-content: space-between;
        
    }
    .selectWrap{
        flex-direction: row;
        align-items: center;
    }
    .customSelect{
        width: 155px;
    }
}