/* mobile first */
.mainLayout{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100vh;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .mainLayout{
        grid-template-rows: 132px 100vh;
    }
}
@media (min-width: 1024px) and (max-width: 1440px) {
    .mainLayout{
        grid-template-columns: 240px 1fr;
        grid-template-rows: 100vh;
    }
}


